html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background: url(/assets/images/login_bg.jpg) no-repeat center;
    background-size: cover;
}

.layui-main img {
    position: absolute;
    top: 20px;
}

.login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 310px;
    background-color: #fff;
}

.login_title {
    width: 100%;
    height: 60px;
    background: url(/assets/images/login_title.png) no-repeat center;
}

.layui-form-item {
    padding: 0 20px;
}

.links {
    display: flex;
    justify-content: flex-end;
}

.layui-form-item {
    position: relative;
}

.layui-icon {
    position: absolute;
    top: 10px;
    left: 30px;
}

.layui-form-item input {
    padding: 0 0 0 30px;
}

.reg_box {
    display: none;
}